<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja de materiais elétricos</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="icon">
        <img src="/assets/logo.png" alt="logo" class="logo">
      </div>
      <nav>
        <a href="#" class="nav-link" data-link="inicio">Início</a>
        <a href="#" class="nav-link" data-link="sobre">Sobre</a>
        <a href="#" class="nav-link" data-link="servicos">Serviços</a>
        <a href="#" class="nav-link" data-link="contato">Contato</a>
      </nav>
      <div class="user">
        <i class="icon-search"></i>
        <i class="icon-user"></i>
        <i class="icon-shopping"></i>
      </div>
    </header>
    <div class="container">

      <section class="carousel-container">
        <div class="carousel-slide">
          <!-- Cada div é um slide que cobrirá 100% do container -->
          <div class="slide" style="background-image: url('/assets/banner.jpg');"></div>
          <div class="slide" style="background-image: url('/assets/materiais.webp');"></div>
          <div class="slide" style="background-image: url('/assets/multimetro.jpg');"></div>
        </div>
        
        <!-- Botões de Navegação -->
        <button id="prevBtn" class="carousel-btn prev">&#10094;</button>
        <button id="nextBtn" class="carousel-btn next">&#10095;</button>
      </section>
    </div>
    <main>
      <h2 class="esp1">Produtos em destaque</h2>
      <section class="betterProducts">
        <div class="product">
          <img src="/assets/cabo1.png" alt="" class="img-p">
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nisi voluptates, explicabo, in sed aut assumenda tenetur,</p>
          <a href="#"><span>Ver produto</span></a>
        </div>
        <div class="product">
            <img src="/assets/cabo2.jpg" alt="" class="img-p">
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eaque unde natus itaque doloremque laboriosam maiores molestias? At nesciunt numquam asperiores obcaecati rerum iure ipsum praesentium aut aliquid ex. Tempore.</p>
            <a href="#"><span>Ver produto</span></a>
        </div>
        <div class="product">
            <img src="/assets/cabo3.jpg" alt="" class="img-p">
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit repudiandae deleniti nesciunt corporis inventore, necessitatibus corrupti adipisci expedita cumque, libero doloremque sequi ipsum maiores porro recusandae quo, aspernatur id.</p>
            <a href="#"><span>Ver produto</span></a>
        </div>
        <div class="product">
            <img src="/assets/cabo1.png" alt="" class="img-p">
            <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil error nisi sequi quam consectetur fuga repellendus a, accusantium eveniet doloremque, et odit magni amet hic, architecto nam voluptas eum rerum?</p>
            <a href="#"><span>Ver produto</span></a>
        </div>
      </section>
      <section class="depoimentos">
        <h2>Depoimentos</h2>
        <p>O que nossos clientes dizem</p>
        <div class="depoimento">
          <div class="dep-head">
            <img src="/assets/logo.ico" alt="">
            <h3 class="name"></h3>
            <h2>Cliente ${status}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quam nulla hic.<br> Facere suscipit ea ex asperiores sapiente maiores eius quasi, mollitia nobis,
              culpa nemo ab excepturi assumenda laborum consequatur!</p>
          </div>
        </div>
      </section>
        <div class="depoimento">
          <div class="dep-head">
            <img src="/assets/logo.ico" alt="">
            <h3 class="name"></h3>
            <h2>Cliente ${status}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quam nulla hic.<br> Facere suscipit ea ex asperiores sapiente maiores eius quasi, mollitia nobis,
              culpa nemo ab excepturi assumenda laborum consequatur!</p>
          </div>
        </div>
        <div class="depoimento">
          <div class="dep-head">
            <img src="/assets/logo.ico" alt="">
            <h3 class="name"></h3>
            <h2>Cliente ${status}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quam nulla hic.<br> Facere suscipit ea ex asperiores sapiente maiores eius quasi, mollitia nobis,
              culpa nemo ab excepturi assumenda laborum consequatur!</p>
          </div>
        </div>
    </main>
    <footer>
      <div class="navegacao">
        <h2>Navegação</h2>
        <nav>
          <a href="./Início.html">Início</a>
          <a href="./Sobre.html">Início</a>
          <a href="./Serviços.html">Início</a>
          <a href="./Contato.html">Início</a>
        </nav>
      </div>
      <div class="contato">
        <h2>Contato</h2>
        <p>Localização, telefone, horario</p>
      </div>
      <div class="social-media">
        <h2>Redes Sociais</h2>
        <nav>
          <a href="./Início.html">insta</a>
          <a href="./Sobre.html">face</a>
        </nav>
      </div>
      <hr>
      <div class="autor">
        <p>&copy; Henry Thomaz</p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>