* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
}

.img-p {
  max-height: 250px; 
  object-fit: cover;
}
.banner-img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

