* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(8px); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
nav {
  display: flex;
  gap: 25px;
  font-size: 20px;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: blue;
}
.nav-link.active {
  color: blue;
}
.container {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
.carousel-container {
  width: 80%;
  height: 500px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; 
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

main {
  width: 100%;
  height: 80%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 35px;
}
.betterProducts {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.product {
  width: 300px;
  height: 467px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.desc {
  font-size: 15px;
  text-align: center;
  padding: 15px;
}
.esp1 {
  margin-bottom: 20px;
}
.img-p {
  width: 250px;
  height: 250px;
}